<div id="outer-wrapper">

	<div id="top-wrapper">
		<div class="container">
			<div id="top">
				<div id="logo">
					<a href="/"><img src="/images/logo.gif" alt=""></a>
				</div><!-- #logo -->
				<div id="mainmenu">
					<ul class="sn">
						<li><a href="#"><img src="/images/icon/i-facebook.png" alt=""></a></li>
						<li><a href="#"><img src="/images/icon/i-last.fm.png" alt=""></a></li>
						<li><a href="#"><img src="/images/icon/i-myspace.png" alt=""></a></li>
						<li><a href="#"><img src="/images/icon/i-twitter.png" alt=""></a></li>
						<li><a href="#"><img src="/images/icon/i-youtube.png" alt=""></a></li>
					</ul>

					<ul id="menu">
						<li class="current"><a href="#">Home</a></li>
						<li><a href="#">Sobre</a>
							<ul style="visibility: hidden;">
								<li><a href="#">Institucional</a></li>
								<li><a href="#">Blog</a></li>
							</ul>
						</li>
						<li><a href="#">Serviços</a></li>
						<li><a href="#">Quartos</a></li>
						<li><a href="#">Reserva</a></li>
						<li><a href="#">Fotos</a></li>
						<li><a href="#">Contato</a></li>
					</ul>
					<div class="clear"></div>
				</div><!-- #mainmenu -->
			</div>
		</div><!-- .container -->
	</div><!-- #top-wrapper -->
    

	<div id="slider-container">
		<ul id="slider" style="position: relative; width: 1266px; height: 420px;">
			<li style="position: absolute; top: 0px; left: 0px; display: block; z-index: 4; opacity: 1; width: 1266px; height: 420px;"><img src="/images/content/slide1.jpg" alt=""></li>
			<li style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3; opacity: 0; width: 1266px; height: 420px;"><img src="/images/content/slide2.jpg" alt=""></li>
			<li style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3; opacity: 0; width: 1266px; height: 420px;"><img src="/images/content/slide3.jpg" alt=""></li>
		</ul>
		<div class="slide-nav-container">
			<div id="slide-nav">
				<div id="slideprev"></div>
				<div id="slidenext"></div>
			</div> 
		</div>
	</div><!-- #slider-container -->
	<div class="clear"></div>
    
	<div id="content-wrapper">
		<div class="container">
			<div id="content-container">
				<div id="frame-content-t">
					<div id="frame-content-b">
						<div class="center">
							<a href="#"><img src="/images/content/banner1.jpg" alt="" class="alignleft"></a>
							<a href="#"><img src="/images/content/banner2.jpg" alt="" class="alignright"></a>                      
						</div><!-- .center -->
                  
						<div class="clear"></div>
						<div class="line"></div><br>
						<div class="clear"></div>
                   
						<div class="center">
							<div class="three-column-r">
								<div class="three-column-t">
									<div class="three-column-b">
                        
										<div id="side-left">
											<ul class="sidebar">
												<li class="widget-container textwidget home">
													<h2 class="widget-title">Every Room Has:</h2>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas convallis tincidunt porta. </p>
													<ul>
														<li>Telephone with Direct Line</li>
														<li>Radio</li>
														<li>Colour Television</li>
														<li>A Mini Bar</li>
														<li>Adjustable air-conditioning</li>
														<li>Refrigerator</li>
													</ul>
												</li>
											</ul>               
										</div><!-- #side-left -->
                            
										<div id="main-content">
											<h2>Welcome Our Hotel</h2>
											<img src="/images/content/pic1.jpg" alt="" class="alignleft"><p>Vivamus ut diam at turpis varius tempor. Aliquam dictum sagittis erat, vehicula adipiscing diam condimentum id. Pellentesque sed lectus sed sapien consequat faucibus consequat eget justo. Suspendisse vel nunc id nisl varius mattis in non arcu. </p>
											<p>Phasellus tincidunt viverra enim vitae sodales. Aenean dictum varius felis, mattis sodales eros gravida non. Donec lobortis malesuada nulla, vitae porttitor justo ultrices ac. Mauris pulvinar diam a sem porttitor in condimentum nisl ultricies. Fusce nec sodales lorem. Vivamus mattis vestibulum nibh non faucibus. </p>
										</div><!-- #main-content -->
                            
										<div id="side-right">
											<ul class="sidebar">
												<li class="widget-container newswidget">
													<h2 class="widget-title">Reserva</h2>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas convallis tincidunt porta.<p>
														<input id="dataEntrada" type="text" class="datetimepicker" placeholder="Data de Entrada" >
														
														<input id="dataSaida" type="text" class="datetimepicker" placeholder="Data de Saída" ><br/>
														
														<button id="Reservar" onclick="reservaShow($('#dataEntrada').val(),$('#dataSaida').val())">Reservar</button>
																												
													</li>
												</ul>   
											</div><!-- #side-right -->
											<div class="clear"></div>
										</div><!-- .three-column-b -->
									</div><!-- .three-column-t -->
								</div><!-- .three-column-r -->
							</div><!-- .center -->
                
							<div class="clear"></div>
						</div><!-- #frame-content-b -->
					</div><!-- #frame-content-t -->
				</div><!-- #content-container -->
			</div><!-- .container -->
		</div><!-- #content-wrapper -->

		<div id="footer-wrapper">
			<div class="container">
				<div id="footer">
					<ul id="footer-menu">
						<li><a href="/">Home</a></li>
						<li><a href="#">Sobre</a></li>
						<li><a href="#">Serviços</a></li>
						<li><a href="#">Quartos</a></li>
						<li><a href="#">Reserva</a></li>
						<li><a href="#">Fotos</a></li>
						<li><a href="#">Contato</a></li>
					</ul>
					<div id="copyright">Copyright ©2012 Classica Hotel. All Rights Reserved</div>
				</div><!-- #footer -->
			</div><!-- .container -->
		</div><!-- #footer-wrapper -->
	</div>
	<script type="text/javascript">Cufon.now(); </script> <!-- to fix cufon problems in IE browser -->
	<script type="text/javascript">jQuery('#noscript').remove();</script><!-- if javascript disable -->
