<p>Olá <%= @resource.email %>!</p>

<p>Clique no link para confirmar sua conta no Hotel Classica e dar continuidade a sua reserva:</p>

<p><%= link_to 'Confirmar Minha Conta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
