<p>Olá, <%= @resource.email %>!</p>

<p>Sua conta foi bloqueda por ocorrem várias tentativas de login.</p>

<p>Clique no link abaixo para desbloque-la:</p>

<p><%= link_to 'Desbloquear Conta', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
