<p>Olá <%= @resource.email %>!</p>

<p>Você solicitou alteração de senha para o site Hotel Classica</p>

<p><%= link_to 'Alterar Minha Senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não solicitou esse e-mail, por favor ignore está mensagem.</p>
